name: ci-integration-tests
run-name: ci-integration-tests - ${{ github.ref_name }}-${{ github.sha }}

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Run e2e tests
      env:
        # Adding here as .env config file should not be (is in .gitignore file) in Git.
        XML_API_BASE_URL: https://raw.githubusercontent.com/MiddlewareNewZealand/evaluation-instructions/main/xml-api
        PORT: 3000
      run: npm run test:e2e
